###########################################################################
# This is some auto generated code. Your changes may not take effect.     #
# Consider making the changes im `app/features/model/templates`           #
###########################################################################

from typing import Any, Optional, Literal, Union
from app.features.model.utils import get_class_from_path_string
from app.schemas.api import ApiBaseModel
{% block imports %}
{% endblock imports %}
def get_module_name(classpath: str) -> str:
    return '.'.join(classpath.split('.')[:-1])

{%- for component in components -%}
{%- include "component.py.jinja" -%}
{%- endfor %}

LayersType = Union[
    {% for component in components: -%}
    {{ component['prefix'] + "LayerConfig" }},
    {%- endfor %}
]
